<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                    <h1>Add New Server or Blueprint</h1>
                     <br>
                    <form action="">
                         <label for="">Server Name</label>
                        <br>
                        <br>
                        <input type="text" style="width:100%" [(ngModel)]="newServerName"> <br>
                        <br>
                        <label for="">Server Content</label><br>
                        <br>
                        <input type="text" style="width:100%" [(ngModel)]="newServerContent">
                    </form>
                    <br>
                    <div>
                        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
                        <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
                        <button class="btn btn-primary">Clear all</button>
                    </div>
                    </div>
        </div>
    </div>
</div>

