<div>
    <div class="n-container mt-5">
        <div class="ro">
            <div class="">
                    <h1 class="text-primary">Add New Server or Blueprint</h1>
                     <br>
                         <label for="" class="text-primary">Server Name</label>
                        <br>
                        <br>
                        <input type="text" style="width:100%" [(ngModel)]="newServerName"> <br>
                        <br>
                        <label for="" class="text-primary">Server Content</label><br>
                        <br>
                        <input type="text" style="width:100%" [(ngModel)]="newServerContent">
                    <br>
                    <br>
                    <div>
                        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
                        <button class="btn btn-primary" (click)="onAddBlueprint()">Add Server Blueprint</button>
                        <button class="btn btn-primary">Clear all</button>
                    </div>
                    </div>
        </div>
    </div>
</div>

