<app-header></app-header>
<div class="color">
    <div class="n-container">
      <h1 class="" class="text-primary">Server Test</h1> 
      <hr>
   <app-server></app-server> 
</div>

    <app-cockpit 
    (serverCreated)="onAddServer($event)" 
    (blueprintCreated)="onAddBlueprint($event)">
    </app-cockpit>
    <br>
    <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
        </app-server-element>
<div class="mt-5">
<app-footer></app-footer>
</div>
</div>




