<div class="card">
<label for="" class="mb-1">Server Name</label>
<form action="">
<input type="text" (input)="onUpdateServerName($event)" placeholder="Server Name" #username>
<div class="d-flex test mb-3">
    <div>
        <button class="btn btn-primary mt-2" [disabled]="allowNewServer" (click) = " onCreateServer()">Add Server</button>
    </div>
    <div>
    <button class="btn btn-success mt-2" (click)="onDeleteServer()">Clear</button>
    </div>
</div>
</form>
<p>{{serverDynamic}}</p>
<p>{{serverStatus}}</p>
<p [ngStyle]="{backgroundColor: getColor()}">{{server}} with ID is {{serverId}} {{ getStatus() }} </p>
<p [ngStyle]="{backgroundColor: getColor()}">{{server}} with ID is {{serverId}} {{ getStatus() }} </p>
<p>{{ serverWasCreated }}</p>

<div>
<!-- <p *ngIf="serverWasCreated">Server was created</p>  -->
<!-- <ng-template>
    <p>NO server was created!</p>
</ng-template> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<label for="" class="mb-1">User Name</label><br>
<input type="text" [(ngModel)]="user" placeholder="User Name"><br>
<p>{{user}}</p>
<div class="d-flex test">
    <div>
    <button class="btn btn-danger mt-2" [disabled]="user === ''" (click)="user = ''">Reset User</button>
</div>
<div>
    <button class="btn btn-primary mt-2"  [disabled]="user === ''"  (click)="user = ''">Submit</button>
</div>
</div>
</div> 
</div>